*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    background: rgb(71, 182, 255);
}

form{
    background:rgb(160, 182, 189);
    width: 300px;
    margin:300px auto;
    border-radius: 10px;
}

form > input{
    margin: 12px 30px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
}